
*.class
*.class
*.class
*.iml
.idea/.name
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
target/classes/META-INF/learning.kotlin_module
.idea/inspectionProfiles/Project_Default.xml
